
.messagerie-page {
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    z-index: 1; 
    overflow: hidden; 
    color:#e0c084;
}

.messagerie-page::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('../../public/images/skin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3; /* ici tu règles la transparence de l'image */
    z-index: -1; /* pour que l'image reste en fond */
}
.chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.no-conversation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webcam-view {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  height: 150px;
  border: 2px solid #fff;
  background-color: black;
  overflow: hidden;
  border-radius: 8px;
}

.webcam-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
