.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgb(224 192 132 / 20%);
  margin: auto;
}

.newsletter-title {
  font-size: 1.5rem;
  color: #e0c084;
  text-align: center;
  margin-bottom: 1rem;
}

input[type="email"] {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #e0c084;
  border-radius: 8px;
  color: #e0c084;
}

input[type="email"]::placeholder {
  color: #e0c084;
}

button[type="submit"] {
  padding: 0.7rem 1.4rem;
  background-color: #e0c084;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #f0d8a0;
}

.newsletter-form p {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #e0c084;
  text-align: center;
}

.newsletter-form input[type="email"] {
  color: #e0c084 !important;
}
