.blog-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
  color: #f5ece0;
  gap: 25px;
}

.blog-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../../public/images/skin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

.blog-title {
  font-size: 2rem;
  color: #e0c084;
  text-align: center;
}

.blog-admin-button {
  color: #f5ece0;
  font-size: 1.5rem;
  position: relative;
  transition: color 0.3s ease;
  text-decoration: none;
  margin-bottom: 1rem;
}
.blog-article-link {
  display: flex;
  gap: 20px;
  align-items: center;
}

.blog-article-image {
  width: 160px;
  height: 110px;
  object-fit: cover;
  border-radius: 16px;
  flex-shrink: 0;
}
.blog-article-image-wrapper {
  width: 160px;
  height: 110px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 16px;
}

.blog-article-image-wrapper img {
  width: 160px;
  height: 110px;
  object-fit: cover;
  display: block;
  border-radius: 16px;
}
.blog-admin-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #e0c084;
  transition: width 0.3s ease;
}

.blog-admin-button:hover {
  color: #e0c084;
}

.blog-admin-button:hover::after {
  width: 100%;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 900px;
}

.blog-article {
  list-style: none;
  border: 1px solid #e0c084;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: rgb(10 14 26 / 85%);
  transition: box-shadow 0.3s ease;
}

.blog-article-link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-article-link:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 12px rgb(224 192 132 / 30%);
}

.blog-article h2 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  color: #e0c084;
}

.blog-article p {
  margin-bottom: 0.5rem;
  color: #ddd;
  line-height: 1.5;
}

.blog-article small {
  color: #aaa;
}

.admin-actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.admin-actions a {
  color: #e0c084;
  text-decoration: none;
  font-weight: bold;
}

.admin-actions a:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  gap: 10px;
  margin-top: 2rem;
  justify-content: center;
}

.pagination-link {
  padding: 8px 12px;
  border: 1px solid #e0c084;
  color: #f5ece0;
  text-decoration: none;
  transition: all 0.2s ease;
}

.pagination-link:hover,
.pagination-link.active {
  background: #e0c084;
  color: #0a0e1a;
  font-weight: bold;
}
