/* components/ChatBubble/ChatBubble.css */

.chat-bubble-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height:100px;
  background-color: #a2b9c1; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 999; 
  transition: background-color 0.2s;
}

.chat-bubble-container:hover {
  background-color: #f2f0eb;
}

.chat-bubble-icon {
  font-size: 24px;
  color: rgb(216, 17, 17);
}

.chat-bubble-badge {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: #e02424; /* rouge */
  color: white;
  font-size: 0.65rem;
  font-weight: bold;
  line-height: 1;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
