.PageRecherche .page-recherche {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.PageRecherche .recherche-resultats {
  flex: 1;
}

.PageRecherche .recherche-resultats ul {
  list-style: none;
  padding: 0;
}

.PageRecherche .resultat-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.PageRecherche .resultat-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

@media (width <= 700px) {
  .PageRecherche .page-recherche {
    flex-direction: column;
  }
}
