.loader-annonce {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 60%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-contenu {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  max-width: 90%;
}

.loader-contenu p {
  font-size: 36px;
  color: #e0c084;
}

.fade-in {
  animation: fade-in 1s ease-in-out;
}

/* ✅ Utilise fade-in partout */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
