.like-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-like {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-like:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Coeur */
.btn-like-icon {
  fill: white;
  transition: fill 0.25s ease, transform 0.15s ease;
}

.btn-like-icon:hover {
  transform: scale(1.1);
}

.btn-like-icon.liked {
  fill: #e0c084; /* Or X-Periences */
}

/* Petit effet pop quand on like */
.pop {
  animation: popAnim 0.25s ease;
}

@keyframes popAnim {
  0% { transform: scale(1); }
  50% { transform: scale(1.25); }
  100% { transform: scale(1); }
}

/* Label */
.like-label {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.2s ease;
}

.like-label.liked {
  color: #e0c084;
}

.like-label.not-liked {
  color: white;
}
.btn-row{
  display: flex;
  align-items: center;
  justify-content: space-around;
}