:root {
    --primary-color: #e0c084;
    --white-color: #f5ece0;
    --blue-color: #2c3e50;
    --marron-color: #8c6a5d;
    --buesecond-color:#a2b9c1;
    --font-allura: 'Allura', cursive;
    --font-raleway: 'Raleway', sans-serif;
   
}
img, body {
  user-select: none;
  -webkit-user-drag: none;
}
img {
  user-select: none;
  -webkit-user-drag: none;
  /* pointer-events: none; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-image: url('https://i.postimg.cc/6qq0z1gV/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  color: var(--foreground);
  color: var(--foreground);
  font-family: var(--font-raleway);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}
h1, h2, h3,
.navbar a,
.logo-text,
.navbar-pseudo strong {
  font-family: var(--font-allura);
  font-weight:normal;
  color: var(--gold);
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
input::placeholder {
  color: rgb(245, 241, 241);
  opacity: 1;
}
.css-1u9des2-indicatorSeparator{
  display: none;
}
.css-8gsnlb-control{
  align-items: center;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
