.contenant{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contenant-header {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  margin-top: 3rem;
}
button {
  font-family: "Crimson Text", serif !important;
}

.bouton-header {
  display: flex;
  gap: 25px;
  margin-right: 2%;
}
.logo-contenant{
  display: flex;
  justify-content:center ;
}
.masque-contenant{
  display: flex;
  justify-content: center;
}

.text p {
  color:white ;
  font-size: 20px; 
  width: 50%;
  text-align: justify;
}

.text{
  display: flex;
  justify-content: center;
}
.image-components{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  /* margin-top: 80px; */
}

.text-bas{
  display: flex;  
  justify-content: center;
}

.text-bas p{
  font-size: 25px;
  color: white;
}