.evenement-container{
display: flex;
flex-direction: column;
padding: 2rem;
box-sizing: border-box;
z-index: 1; 
overflow: hidden; 
color:#ccc

}

.evenement-container::before{
     content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../../public/images/skin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3; /* ici tu règles la transparence de l'image */
    z-index: -1;
}

.confirmation-message {
  margin-top: 1rem;
  color: green;
  font-weight: bold;
}

.filtre-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}

.img-title
{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color:#e0c084;
    flex-direction: column;
}

.evenement-image{
  width: 46%;
}

.event-details-title{
  color: #e0c084;
}

.evenement-details{
   border: 1px solid #e0c084;
  padding: 8px;
  border-radius: 16px;
  width: 50%;
}

.event-details-description {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-top: 16px;
}

.description-contenant h2{
color: #e0c084;
}

.event-grid{
  display: flex;
  justify-content: space-around;
}

.description-contenant {
  border: 1px solid #e0c084;
  padding: 8px;
  border-radius: 16px;
  width: 65%;
}

.retour{
  padding: 8px 16px ;
  width: 25% ;
  background-color: #e0c084;
  color: white;
  border-radius: 16px;
}

@media screen and (width <= 768px) {
  .event-grid{
    flex-direction:column ;
    gap: 16px;
  }

  .event-details-description{
    width: 100%;
  }

  .description-contenant{
    width: 100%;
  }

  .evenement-details{
    width: 100%;
  }
}