.verification-alert {
  background-color: transparent;
  color: #f5ece0;
  border: 1px solid #e0c084;
  padding: 16px;
  border-radius: 8px;
  font-size: 15px;
}

.verification-alert a {
  display: inline-block;
  margin-top: 10px;
 color: #e0c084;
  font-weight: bold;
}
