.footer-contenant {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
    gap: 2rem;
    padding: 16px;
    color: #f5ece0;
    text-align: left;
    border-top: 1px solid var(--primary-color);

}
.footer-contenant h2 {
    color: var(--primary-color);
    text-decoration: underline;
    font-size: 1.2rem;
}

.footer-contenant li {
    list-style: none;
    font-size: 0.95rem;
}

.footer-logo img {
    max-width: 150px;
    height: auto;
}

.footer-reseau {
    display: flex;
    flex-direction: column;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    margin: 0;
}

.footer-a-propos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-reseau a img {
    transition: transform 0.2s ease-in-out;
}

.footer-reseau a:hover img {
    transform: scale(1.1);
}
.footer-contact-link{
margin-left: 3px;
}
/* 🎯 RESPONSIVE VERSION */
@media screen and (max-width: 768px) {
    .footer-contenant {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0;
    }
    .footer-logo img{
        width: 100px;
    }

    .footer-contenant h2 {
        font-size: 1rem;
    }

    .footer-contenant li {
        font-size: 0.9rem;
    }
    .footer-ul{
        align-items: flex-start;
    }
    .footer-reseau h2 {
        width: 100%;
    }
}