.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../../public/images/skin.jpg'); /* ton image de fond */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5); /* en cas d’erreur de chargement image */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 2rem;
}

.modal-content {
  position: relative;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  color: #f5ece0;
  z-index: 1;
}

.modal-content::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
   background-image: url('../../public/images/skin.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
  border-radius: 12px;
  filter: blur(2px);
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--gold);
  cursor: pointer;
}
.modal-buttons{
  display: flex;
  gap: 16px;
}