.banniere {
  width: 100%;
  min-height: 60vh; /* ou 400px */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.banniere-text h1 {
  color: white;
  font-size: 2.5rem;
  background: rgba(0, 0, 0, 0.4); /* lisibilité sur fond clair */
  padding: 1rem 2rem;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .banniere {
    min-height: 21vh;
    padding: 1rem;
  }

  .banniere-text h1 {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}
