.cover-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.cover-photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover-upload-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--gold);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cover-upload-icon:hover {
  transform: scale(1.1);
}

.profil-avatar-wrapper {
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translateX(-50%);
  z-index: 20;
}

