.galeries-tabs{
   border :1px solid var(--gold);
   background-color: rgba(255, 255, 255, 0.05);
  padding:20px;
  border-radius: 16px;

}
.tabs-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  
}

.tabs-buttons button {
  padding: 8px 16px;
  border: none;
  background: #8c6a5d;
  cursor: pointer;
  font-weight: bold;
  border-radius: 16px;
}

.tabs-buttons button.active {
  background: #e0c084;
  color: #fff;
}
