
/* .photo-preview {
  width: 80%;
  border-radius: 50%;
  display: block;
  border: 3px solid var(--gold);
} */

.camera-label {
  transform: translate(50%, 50%);
  cursor: pointer;
  transition: transform 0.2s ease;
}
.camera-icon {
  color: var(--gold);
}
/* .photo-upload-contenant.gallery-mode {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.05);
  border: 2px dashed rgba(255,255,255,0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */

/* .gallery-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.photo-preview-wrapper img{
  border-radius: 100%;
}