.connexion-contenant {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    z-index: 1; 
    overflow: hidden; 
    color:#f5ece0;
    gap: 25px;
}

.connexion-contenant::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../public//images/skin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3; 
    z-index: -1; 
}

.connexion-title{
    color: #F6D391;
}

.form-connexion{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-connexion input {
    padding: 25px;
    border-radius: 25px;
    color: #F6D391;
    font-weight: 900;  
    opacity: 1; 
    background-color: transparent;
    border: 2px #F6D391 solid;
    /* font-size: 25px; */
}

.form-connexion ::placeholder{
    color: #F6D391;
    opacity: 1;
}

.form-connexion :not(:placeholder-shown){
    background-color: transparent;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding-right: 40px; 
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  /* font-size: 1.5rem; */
  cursor: pointer;
  color: #ccc;
}

.input-email {
  color: #e0c084!important;       
  border: 2px solid #F6D391 !important; 
  font-weight: 900;
  /* font-size: 25px; */
  padding: 25px;
  border-radius: 25px;
  transition: border-color 0.2s, background 0.2s;
}

.input-email::placeholder {
  color: #e0c084 !important;   
  opacity: 1;
}

input{
    font-weight: normal !important;
}

.btn-connection{
    color: white;
    font-weight: normal;
    background-color: #e0c084;
}

.button-blanc {
  color: #fff !important;
  font-weight: 400 !important;
}
