.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* background-color: white; */
    border-bottom: 1px solid var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 999;
    color: white;
  }
  
  .logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    transition: transform 0.3s ease-in-out;
    align-items: center;
  }
  
  .navLinks li a {
    text-decoration: none;
    color:var(--primary-color);
    transition: color 0.3s ease;
    font-size: 25px;
  }
  
  .navLinks li a:hover {
    color:#8c6a5d;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .burger .line {
    width: 25px;
    height: 3px;
    background-color: #333;
  }
  .logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    width: 100%;
  }
  
  .logout-button:hover {
    text-decoration: underline;
  }
  
  /* Responsive burger menu */
  @media (max-width: 768px) {
    .burger {
      display: flex;
    }
  
    .navLinks {
      position: absolute;
      top: 60px;
      right: 0;
      flex-direction: column;
      width: 200px;
      transform: translateX(100%);
      padding: 1rem;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
  
    .navLinks.active {
      transform: translateX(0);
    }
  }
  