.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 999;
  color: white;
  background-color: transparent;
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.navbar-pseudo {
  color: #a2b9c1;
  font-size: 32px;
  font-style: italic;
}

/* Menu principal */
.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  transition: transform 0.3s ease-in-out;
  align-items: center;
}

.navLinks li a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
  font-size: 36px;
}

.navLinks li a:hover {
  color: #8c6a5d;
}

/* Icônes connexion/déconnexion */
.nav-icon {
  width: 60px;
  height: 28px;
  color: var(--primary-color);
  cursor: pointer;
  transition: transform 0.3s ease;
  font-weight: 900;
}

.nav-icon:hover {
  color: #8c6a5d;
  transform: scale(1.1);
}

/* Burger menu */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: #f0d084;
}
.nav-icon {
  width: 24px;
  height: 24px;
  color: var(--gold);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.nav-icon:hover {
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .navLinks {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    background-color: #0e1a2b;
    width: 200px;
    transform: translateX(100%);
    padding: 1rem;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    z-index: 998;
  }

  .navLinks.active {
    transform: translateX(0);
  }

  .navLinks li {
    padding: 0.5rem 0;
  }
}

.nav-avatar-wrapper {
  position: relative;
  cursor: pointer;
}

.nav-avatar {
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.nav-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.nav-dropdown a,
.nav-dropdown button {
  text-align: left;
  padding: 8px 12px;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.nav-dropdown a:hover,
.nav-dropdown button:hover {
  background-color: #f0f0f0;
}
